/*global content goes here*/





/*navbar section goes here*/

.navbar-brand {
	height: auto;
	padding: 0 15px;
	margin: 9px 70px 0 0;
}

.navbar {
	margin-bottom: 0px;
	padding-bottom: 0;
	background-color: #F9F9F9;
}

.nav {
	margin-top: 5px;
}

.nav > li > a {
	color: #000;
	font-size: 16px;
	padding: 25px 15px;
}


.navbar-nav > li > a {
	padding-top: 20px;
	text-transform: uppercase;
}
.navbar-form {
	margin-top: 22px;
}
/*jumbotron section here goes to*/

.jumbotron {
	padding-top: 25%;
	padding-bottom:12%;
	margin-bottom: 0;

}
  .bg-image {
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	max-width: 100%;
  	max-height: 100%;
  }

 /* .jumbotron .caption {
  	color: #fff;
  	text-align: center;
  	text-transform: uppercase;

  }*/
